/* FINAL PROJECT a4loop */

/* ------ Global Styles ----- */
* {
    margin:0;
    padding:0;
}

html,body {
    background-color: #eee;
    margin:0;
    padding:0;
    font: 10px;
}

/* Page Layout */
main.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow:auto;
    background-image: url(../images/background_main.png);
}

/*main.wrapper-landing {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow:auto;
    background-color: rgba(51,51,51,1);
    }*/

/* Header */
header{
    background-color: rgb(173,173,173);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-top: 2rem;
    margin-bottom:0;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: #9f9c9c;
}

.header-logo {
    padding-top: .15rem;
    padding-left: 1.5rem;

}
.header-logo > p {
    margin: 0;
    padding-top:.25rem;
    font-size: .75rem;
    text-align: center;
    color: rgb(5,67,10);
}

header>h1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
}

.logo {
    display:block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

/* ----- LANDING PAGE ----- */
.content-landing {
    background-color: orange;
    width: 100%;
    float: left;
}

.content-landing>img {
    width: 45%
}


/* ----- ASIDE ----- */
aside {
    
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    float: left;
}

.sidebar>a {
    color: rgb(126,176,15);
    text-decoration: none;
}

.sidebar>a:hover {
    color: rgb(125,9,166);
}


/* ----- SECTION ----- */
section {
    background-color: rgba(214,214,214,.75);
    width:90%;
    padding-right:1;
    float: right;
    
}

.content {
    padding-bottom: 2rem; 
    padding-left: 3rem;
    padding-right: 3rem;
}

section>.container {
    position: relative;
}

.page-id {
    position: absolute;
    top: 1rem;
    left: 3rem;
    font-size: 35px;
    font-weight: bold;
}

img.img_id {
    width: 100%;
    height: auto;
    opacity: 0.75;
}


/* Footer */
footer {
    background-color: rgba(51,51,51,1);
    margin: 0;
    padding: 5px 25px;
    clear: both;
    color: #fff;
}


footer>.container {
    display: block;
    align-items: center;
    max-width: 100%;
    margin: 0;
    overflow:auto;
}

div.footer-lower {
    border-top: 1px solid rgba(133,133,133,1);
}

.footer-logo {
    width: 45%;
    float: left;
    padding-bottom: 5px;
} 

.social {
    width:55%;
    float: right;
    margin: 0;
}

.column {
    float:right;
    width: 32px;
    padding: 7px 0px 7px 10px;
}

.site-map {
    background-color: rgba(51,51,51,1);
    width: 80%;;
    float: left;
}

th, td {
    padding-right: 1rem;
    text-align: left;
}

footer a {
    color: rgb(126,176,15);
    text-decoration: none
}

footer a:hover {
    color: rgb(125,9,166);
}

.copyright {
    width: 80%;
    float: right;
    text-align: right;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* START RESPONSIVE STYLES */
/* Desktops and laptops ----------- */
@media all and (min-width:1280px) {
    aside {
        width: 90%;
        padding-bottom: 1rem;
    }

    section {
        width: 95%;
    }

    img.img_id {
    width: 100%;
    height: auto;
    opacity: 0.75;
    }

}


/* Tablets  (portrait and landscape) ----------- */
@media all and (min-device-width:768px) and (max-device-width:1279px) {
 /*   aside {
        width: 100%;
        padding-bottom: 1rem;
    }

    section {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    } */

}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-device-width:767px) {
    aside {
        width: 100%;
        padding-bottom: 1rem;
    }

    section {
        width: 100%;
    }


}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}